<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Binevenu!
			{% endblock %}
		</title>
				<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css"> {% block stylesheets %}
		 {{ encore_entry_link_tags('app') }}
		 {% endblock %}
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="{{path('home')}}">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						{% if  app.user %}
							{% if is_granted('ROLE_CLIENT') %}
								<li class="nav-item">
									<a class="nav-link" href="{{path('flotte')}}">afficher ma flotte de véhicules</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('location')}}">liste des véhicules pour location</a>
								</li>
							
							{% elseif is_granted('ROLE_LOUEUR') %}
								<li class="nav-item">
									<a class="nav-link" href="{{path('StockVehicules')}}">afficher mon stock des véhicules</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('FacturesLo')}}">mes factures</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('LocationLo')}}">mes locations en cours</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('NVehicule')}}">ajouter des nouvelles voitures</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">mes factures par entreprise</a>
									<div class="dropdown-menu">
									</div>
								</li>
							{% endif %}
						{% else %}
							<li class="nav-item active">
								<a class="nav-link" href="{{path('login')}}">Connection
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('Registration')}}">Inscription</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>
			<div class="container"> {% block body %}{% endblock %}
				</div>
				{% block javascripts %}{% endblock %}
			</body>
		</html>

